.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .5)
}

.modal__dialog {
    max-width: 70%;
    margin: 40px auto;
}

.modal__content {
    position: relative;
    width: 100%;
    padding: 40px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 4px;
    max-height: 80vh;
    overflow-y: auto
}

.modal__close {
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 30px;
    color: #000;
    opacity: .5;
    font-weight: 700;
    border: none;
    background-color: transparent;
    cursor: pointer
}

.modal__title {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase
}

.modal__input {
    display: block;
    margin: 2%;
    width: 280px;
    height: 50px;
    background: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
    border: none;
    font-size: 18px;
    text-align: center;
    padding: 0 20px;
    outline: 0
}

.buttonBtn {
    margin-top: 2%;
    background-color: white;
	color: black;
    border: 2px solid #ffffffad;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.buttonBtn:hover{
	background-color: rgb(221 221 221);
    border: 2px solid #ff0000ad;
}

#formFeedbackClassic{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formFeedbackClassic textarea{
    width: 80%;
}

#listOrders{
    color: white;
    background-color:rgba(0, 0, 0, 0.438);
}

#contactFeedbackClassic,
#brandAndModelFeedbackClassic{
    display: flex;
}
