@font-face {
    font-family: 'TolkienCyr';
    src: url('fonts/TolkienCyr.woff2') format('woff2');
    
    font-style: normal;
}

#menu a,
.buttonBtn,
#priceCalculator a,
#typeWorking div a,
h1, h2{
    font-family: 'TolkienCyr';
}

body{
   /*  background: url(img/background_moto_repair_girl.jpg); */
}