#promotions h1 {
    font-size: xxx-large;
    text-align: center;
}

#listPromotions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#listPromotions img {
    padding-left: 2%;
    width: 30%;
}

#listPromotions ul {
    list-style: circle;
}

#listPromotions li {
    font-size: xx-large;
    padding-top: 1%;
    padding-bottom: 1%;
}

h1 {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 32px;
    font-style: italic;
    font-variant: normal;
    font-weight: 100;
}

h3 {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
}

p {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
}

a {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
}

li {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
}