#calculation{
    display: flex;
}

#calculation h1, h2{
    text-align: center;
}

#serviceCalculation{
    width: 69%;
    margin-left: 1%;
}

#listServiceCalculatior{
    display: flex;
    flex-direction: column;
    width: 29%;
    margin-right: 1%;
}

#infoShoping{
    display: flex;
    justify-content: space-around;
}

#list{
    display: flex;
    flex-direction: column;
}

.listShoping{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-top: 1%;
}

.nameServiceShoping{
    width: 80%;
}

.priceServiceShoping{
    text-align: center;
    width: 40%;
}

#money{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#money p{
    margin: 0;
}

#textAhtung{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    text-align: center;
    margin: 0;
}